### Pyspark GroupBy And Aggregate Functions

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName('Agg').getOrCreate()

In [3]:
spark

In [4]:
df_pyspark=spark.read.csv('test3.csv',header=True,inferSchema=True)

In [5]:
df_pyspark.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

In [6]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- salary: integer (nullable = true)

In [7]:
## Groupby
### Grouped to find the maximum salary
df_pyspark.groupBy('Name').sum().show()

+---------+-----------+
|     Name|sum(salary)|
+---------+-----------+
|Sudhanshu|      35000|
|    Sunny|      12000|
|    Krish|      19000|
|   Mahesh|       7000|
+---------+-----------+

In [8]:
df_pyspark.groupBy('Name').avg().show()

+---------+------------------+
|     Name|       avg(salary)|
+---------+------------------+
|Sudhanshu|11666.666666666666|
|    Sunny|            6000.0|
|    Krish| 6333.333333333333|
|   Mahesh|            3500.0|
+---------+------------------+

In [9]:
### Groupby Departmernts  which gives maximum salary
df_pyspark.groupBy('Departments').sum().show()

+------------+-----------+
| Departments|sum(salary)|
+------------+-----------+
|         IOT|      15000|
|    Big Data|      15000|
|Data Science|      43000|
+------------+-----------+

In [10]:
df_pyspark.groupBy('Departments').mean().show()

+------------+-----------+
| Departments|avg(salary)|
+------------+-----------+
|         IOT|     7500.0|
|    Big Data|     3750.0|
|Data Science|    10750.0|
+------------+-----------+

In [11]:
df_pyspark.groupBy('Departments').count().show()

+------------+-----+
| Departments|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    4|
|Data Science|    4|
+------------+-----+

In [12]:
df_pyspark.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|      73000|
+-----------+

In [25]:
df=spark.read.csv('Untitled 1.csv',header=True,inferSchema=True)

In [65]:
df.show()

+-------+----------+----------+-----+
|user_id|session_id|    action| time|
+-------+----------+----------+-----+
|      1|       123| turned_on| 11.0|
|      1|       123|   movie1 |11.01|
|      1|       123|    movie2|11.02|
|      1|       123|turned_off|11.03|
+-------+----------+----------+-----+

In [62]:
df.withColumn('DiffInSeconds',df.filter("action == 'turned_off'").select(['time']).cast("long") - 
              df.filter("action == 'turned_off'").select(['time']).cast("long"))show()

SyntaxError: invalid syntax (<ipython-input-62-db68e348f70e>, line 1)

In [67]:
from pyspark.sql.functions import *
df2=df.withColumn('from_timestamp',time(col('from_timestamp')))\
  .withColumn('end_timestamp', current_timestamp())\
  .withColumn('DiffInSeconds',col("end_timestamp").cast("long") - col('from_timestamp').cast("long"))

NameError: name 'time' is not defined

In [ ]:
withColumn('DiffInSeconds',col("end_timestamp").cast("long") - col('from_timestamp').cast("long"))

In [27]:
df.select(df['time']).show()

+-----+
| time|
+-----+
| 11.0|
|11.01|
|11.02|
|11.03|
+-----+

In [55]:
# df.filter(df("action") === "turned_on").select(['time']).show(false)
# df.where(df("action") == "turned_on").show(false)
df.filter("action == 'turned_off'").select(['time']).show()
df.filter("action == 'turned_on'").select(['time']).show()

+-----+
| time|
+-----+
|11.03|
+-----+

+----+
|time|
+----+
|11.0|
+----+

In [61]:
df.filter(("action == 'turned_off'") | ("action == 'turned_on'")).select(['time']).show()

TypeError: unsupported operand type(s) for |: 'str' and 'str'

In [ ]:
df.filter((df['Salary']<=20000) | 
                  (df['Salary']>=15000)).show()

In [ ]:
### Adding Columns in data frame
df_pyspark=df.withColumn('total_time',df_pyspark['time']+)

In [37]:
df.groupBy('action').mean().show()

+----------+------------+---------------+---------+
|    action|avg(user_id)|avg(session_id)|avg(time)|
+----------+------------+---------------+---------+
|    movie2|         1.0|          123.0|    11.02|
| turned_on|         1.0|          123.0|     11.0|
|   movie1 |         1.0|          123.0|    11.01|
|turned_off|         1.0|          123.0|    11.03|
+----------+------------+---------------+---------+

In [70]:
data = [(1,123,"turned_on","11:00"),
(1,123,"movie1","11:01"),
(1,123,"movie2","11:02"),
(1,123,"turned_off","11:03")]

In [71]:
df = spark.createDataFrame(data=data, schema=["user_id","session_id","action","time"])

In [72]:
df.show()

+-------+----------+----------+-----+
|user_id|session_id|    action| time|
+-------+----------+----------+-----+
|      1|       123| turned_on|11:00|
|      1|       123|    movie1|11:01|
|      1|       123|    movie2|11:02|
|      1|       123|turned_off|11:03|
+-------+----------+----------+-----+

In [73]:
df.filter("action == 'turned_off'").select(['time']).show()

+-----+
| time|
+-----+
|11:03|
+-----+

In [74]:
df.printSchema()

root
 |-- user_id: long (nullable = true)
 |-- session_id: long (nullable = true)
 |-- action: string (nullable = true)
 |-- time: string (nullable = true)

In [82]:
from pyspark.sql.types import StringType, TimestampType
df.withColumn("time"  ,
              df["time"]
              .cast(TimestampType()))
df.printSchema()

root
 |-- user_id: long (nullable = true)
 |-- session_id: long (nullable = true)
 |-- action: string (nullable = true)
 |-- time: string (nullable = true)

In [77]:
df.show()

+-------+----------+----------+-----+
|user_id|session_id|    action| time|
+-------+----------+----------+-----+
|      1|       123| turned_on|11:00|
|      1|       123|    movie1|11:01|
|      1|       123|    movie2|11:02|
|      1|       123|turned_off|11:03|
+-------+----------+----------+-----+

In [78]:
df.printSchema()

root
 |-- user_id: long (nullable = true)
 |-- session_id: long (nullable = true)
 |-- action: string (nullable = true)
 |-- time: string (nullable = true)

In [86]:
import pyspark.sql.functions as F
df2 = df.withColumn('time', F.to_timestamp('time', 'hh:mm:ss '))

In [87]:
df2.show()

+-------+----------+----------+----+
|user_id|session_id|    action|time|
+-------+----------+----------+----+
|      1|       123| turned_on|null|
|      1|       123|    movie1|null|
|      1|       123|    movie2|null|
|      1|       123|turned_off|null|
+-------+----------+----------+----+